/* Definiciones de reglas globales */

:root {
  --light-color: #ffffff;
  --light-gray-color: #cacaca;
  --gray-color: #555555;
  --dark-gray-color: #444444;
  --dark-color: #222222;
  --primary-color: #CE0843;
  --transition: 350ms;
  --light-shadows: #00000038;
  --heavy-shadows: #00000078;
}