.smallCardLong {
    max-width: 454px;
    aspect-ratio: 454/217;
    max-height: 217px;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: 6px solid var(--dark-gray-color);
    border-radius: 40px;
    background-color: var(--light-shadows);
    /* background: linear-gradient(0deg, #131313 0%, #232323 90%); */
    backdrop-filter: blur(10px);
    margin: 10px 0;
    transition: var(--transition);
    position: relative;
}

.smallCardLong:hover {
    box-shadow: 0 0 10px var(--primary-color);
    border-color: var(--gray-color);
}